{
    "openapi": "3.0.1",
    "info": {
        "title": "OTOMOTO Scrapper&API",
        "description": "Projekt na zaliczenie: Paradygmaty programowania",
        "version": "1.0.0"
    },
    "servers": [{
        "url": "https://student1.potkal.pl/api/v2"
    }],
    "tags": [{
            "name": "stats",
            "description": "Statystyki API"
        },
        {
            "name": "autos",
            "description": "O autach w OTOMOTO"
        }
    ],
    "paths": {
        "/stats/perday": {
            "get": {
                "tags": [
                    "stats"
                ],
                "summary": "ilosc zapytań dziennie",
                "description": "Ilość zapytań do API od 00:00",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Invalid status value",
                        "content": {}
                    }
                },
                "security": [{
                    "petstore_auth": [
                        "read:stats"
                    ]
                }]
            }
        },
        "/stats/overall": {
            "get": {
                "tags": [
                    "stats"
                ],
                "summary": "ilosc zapytań w sumie",
                "description": "Ilość zapytań do API od poczatku serwisu PP1",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Invalid status value",
                        "content": {}
                    }
                },
                "security": [{
                    "petstore_auth": [
                        "read:stats"
                    ]
                }]
            }
        },
        "/stats/lastcheck": {
            "get": {
                "tags": [
                    "stats"
                ],
                "summary": "ostatnia synchronizacja",
                "description": "timestamp ostatniego odczytu z OTOMOTO",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Invalid status value",
                        "content": {}
                    }
                },
                "security": [{
                    "petstore_auth": [
                        "read:stats"
                    ]
                }]
            }
        },
        "/autos": {
            "get": {
                "tags": [
                    "autos"
                ],
                "summary": "Ilość zapytań dziennie",
                "description": "Ilość zapytań do API od 00:00",
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Invalid status value",
                        "content": {}
                    }
                },
                "security": [{
                    "petstore_auth": [
                        "read:stats"
                    ]
                }]
            },
            "post": {
                "tags": [
                    "autos"
                ],
                "summary": "Poprawia opis auta",
                "operationId": "updateAuto",
                "requestBody": {
                    "description": "Objekt Auta z danymi do poprawienia opisu",
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "description": "id auta do poprawy"
                                    },
                                    "opis": {
                                        "type": "string",
                                        "description": "nowy opis auta"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "400": {
                        "description": "złe ID",
                        "content": {}
                    },
                    "404": {
                        "description": "Auta nie odnaleziono",
                        "content": {}
                    },
                    "405": {
                        "description": "błąd sprawdzenia",
                        "content": {}
                    }
                },
                "security": [{
                    "petstore_auth": [
                        "write:pets",
                        "read:pets"
                    ]
                }],
                "x-codegen-request-body-name": "body"
            },
            "put": {
                "tags": [
                    "autos"
                ],
                "summary": "Wstawia auto do bazy",
                "requestBody": {
                    "description": "Obiekt auto, który ma zostać dodany do bazy",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "marka": {
                                        "type": "string",
                                        "description": "marka"
                                    },
                                    "rocznik": {
                                        "type": "number",
                                        "description": "rocznik"
                                    },
                                    "cena": {
                                        "type": "string",
                                        "description": "cena"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "400": {
                        "description": "złe ID",
                        "content": {}
                    },
                    "404": {
                        "description": "auta nie odnaleziono",
                        "content": {}
                    },
                    "405": {
                        "description": "błąd sprawdzenia danych wejściowych",
                        "content": {}
                    }
                },
                "security": [{
                    "petstore_auth": [
                        "write:pets",
                        "read:pets"
                    ]
                }],
                "x-codegen-request-body-name": "body"
            }
        },
        "/autos/{autoId}": {
            "get": {
                "tags": [
                    "autos"
                ],
                "summary": "wybranie auta",
                "description": "Pobiera wszystkie informacje o danym aucie",
                "parameters": [{
                    "name": "autoId",
                    "in": "path",
                    "description": "ID auta do pobrania",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int64"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Invalid status value",
                        "content": {}
                    }
                },
                "security": [{
                    "petstore_auth": [
                        "read:autos"
                    ]
                }]
            },
            "delete": {
                "tags": [
                    "autos"
                ],
                "summary": "Deletes a pet",
                "operationId": "deletePet",
                "parameters": [{
                        "name": "api_key",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "autoId",
                        "in": "path",
                        "description": "Pet id to delete",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Invalid ID supplied",
                        "content": {}
                    },
                    "404": {
                        "description": "Pet not found",
                        "content": {}
                    }
                },
                "security": [{
                    "petstore_auth": [
                        "write:pets",
                        "read:pets"
                    ]
                }]
            }
        },
        "/autos/findByTag": {
            "get": {
                "tags": [
                    "autos"
                ],
                "summary": "Lista aut",
                "description": "Filtrowanie listy aut po cechach, możliwe wiele filtrów naraz",
                "operationId": "findAutosByTag",
                "parameters": [{
                    "name": "tag",
                    "in": "query",
                    "description": "nazwy tagów",
                    "required": true,
                    "style": "form",
                    "explode": true,
                    "schema": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "default": "available",
                            "enum": [
                                "dostępne",
                                "sprzedane",
                                "cena",
                                "marka",
                                "model",
                                "rocznik",
                                "nooto"
                            ]
                        }
                    }
                }],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Invalid status value",
                        "content": {}
                    }
                },
                "security": [{
                    "petstore_auth": [
                        "write:autos",
                        "read:autos"
                    ]
                }]
            }
        }
    },
    "components": {
        "schemas": {
            "auto": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "string"
                    },
                    "autoId": {
                        "type": "integer",
                        "format": "string"
                    },
                    "cena": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "rocznik": {
                        "type": "string",
                        "format": "int32"
                    },
                    "źródło": {
                        "type": "string",
                        "format": "string"
                    },
                    "opis": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "status": {
                        "type": "string",
                        "description": "Order Status",
                        "enum": [
                            "distępne",
                            "sprzedane"
                        ]
                    }
                },
                "xml": {
                    "name": "Order"
                }
            }
        },
        "securitySchemes": {
            "petstore_auth": {
                "type": "oauth2",
                "flows": {
                    "implicit": {
                        "authorizationUrl": "https://student1.potkal.pl/api/oauth/dialog",
                        "scopes": {
                            "write:pets": "modify pets in your account",
                            "read:pets": "read your pets"
                        }
                    }
                }
            },
            "api_key": {
                "type": "apiKey",
                "name": "api_key",
                "in": "header"
            }
        }
    }
}