{
    "openapi": "3.0.1",
    "info": {
        "title": "OTOMOTO Scrapper-API",
        "description": "Projekt na zaliczenie: Paradygmaty programowania",
        "version": "1.0.0"
    },
    "servers": [{
        "url": "https://wsinf.potkal.pl/api/v1"
    }],
    "tags": [{
            "name": "stats",
            "description": "Statystyki"
        },
        {
            "name": "autos",
            "description": "Oferty"
        }
    ],
    "paths": {
        "/stats/perday": {
            "get": {
                "tags": [
                    "stats"
                ],
                "summary": "Ilość zapytań dziennie",
                "description": "Ilość zapytań do bazy od 00:00",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                },
                "security": [{
                    "petstore_auth": [
                        "write:stats",
                        "read:stats"
                    ]
                }]
            }
        },
        "/stats/overall": {
            "get": {
                "tags": [
                    "stats"
                ],
                "summary": "Ilosc zapytań w sumie",
                "description": "Ilość zapytań do bazy od poczatku serwisu PP1",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                },
                "security": [{
                    "petstore_auth": [
                        "write:stats",
                        "read:stats"
                    ]
                }]
            }
        },
        "/stats/lastcheck": {
            "get": {
                "tags": [
                    "stats"
                ],
                "summary": "Ostatnia synchronizacja",
                "description": "Timestamp ostatniego odczytu z serwisu",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                },
                "security": [{
                    "petstore_auth": [
                        "write:stats",
                        "read:stats"
                    ]
                }]
            }
        },
        "/autos": {
            "get": {
                "tags": [
                    "autos"
                ],
                "summary": "Pobiez oferty",
                "description": "Pobiera wszystkie oferty",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                },
                "security": [{
                    "petstore_auth": [
                        "write:stats",
                        "read:stats"
                    ]
                }],
                "x-codegen-request-body-name": "body"
            },
            "put": {
                "tags": [
                    "autos"
                ],
                "summary": "Wstawia ofertę do bazy",
                "requestBody": {
                    "description": "Obiekt oferty, który ma zostać dodany do bazy",
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "link": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "marka": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "model": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "txt": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "rocznik": {
                                        "type": "integer",
                                        "format": ""
                                    },
                                    "przebieg": {
                                        "type": "integer",
                                        "format": ""
                                    },
                                    "pojemnosc": {
                                        "type": "integer",
                                        "format": ""
                                    },
                                    "paliwo": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "cena": {
                                        "type": "integer",
                                        "format": ""
                                    },
                                    "waluta": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "miasto": {
                                        "type": "string",
                                        "format": ""
                                    },
                                    "wojewodztwo": {
                                        "type": "string",
                                        "format": ""
                                    }
                                }
                            },
                            "example": {
                                "link": "https://xyz.xx/asd",
                                "marka": "Ford",
                                "model": "Focus XL",
                                "txt": "Dowolny tekst nt auta",
                                "rocznik": 1995,
                                "przebieg": 123000,
                                "pojemnosc": 1593,
                                "paliwo": "Benzyna",
                                "cena": 12369,
                                "waluta": "PLN",
                                "miasto": "Poznań",
                                "wojewodztwo": "Pomorskie"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "400": {
                        "description": "Invalid ID supplied"
                    },
                    "404": {
                        "description": "Offer not found"
                    },
                    "405": {
                        "description": "Validation exception"
                    }
                },
                "security": [{
                    "petstore_auth": [
                        "write:autos",
                        "read:autos"
                    ]
                }]
            },
            "post": {
                "tags": [
                    "autos"
                ],
                "summary": "Poprawia opis oferty",
                "requestBody": {
                    "description": "Objekt oferty z danymi do poprawienia opisu",
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "description": "Id auta do poprawy"
                                    },
                                    "opis": {
                                        "type": "string",
                                        "description": "Nowy opis auta"
                                    }
                                },
                                "example": {
                                    "id": "36678da8-adf1-0f66-546a-5ebfaa6f3fe4",
                                    "txt": "Other text"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "400": {
                        "description": "Invalid ID supplied"
                    },
                    "405": {
                        "description": "Validation exception"
                    }
                },
                "security": [{
                    "petstore_auth": [
                        "write:autos",
                        "read:autos"
                    ]
                }],
                "x-codegen-request-body-name": "body"
            }
        },
        "/autos/{autoId}": {
            "get": {
                "tags": [
                    "autos"
                ],
                "summary": "Info o ofercie",
                "description": "Pobiera wszystkie informacje o danej ofercie",
                "parameters": [{
                    "name": "autoId",
                    "in": "path",
                    "description": "ID oferty do pobrania",
                    "required": true,
                    "schema": {
                        "type": "integer",
                        "format": "int64"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                },
                "security": [{
                    "petstore_auth": [
                        "write:stats",
                        "read:autos"
                    ]
                }]
            },
            "delete": {
                "tags": [
                    "autos"
                ],
                "summary": "Usuwa ofertę",
                "parameters": [{
                    "name": "autoId",
                    "in": "path",
                    "description": "Id oferty do usunięcia",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "description": "Invalid ID supplied"
                    }
                },
                "security": [{
                    "petstore_auth": [
                        "write:autos",
                        "read:autos"
                    ]
                }]
            }
        },
        "/autos/findByTag": {
            "get": {
                "tags": [
                    "autos"
                ],
                "summary": "Lista ofert",
                "description": "Filtrowanie listy ofert - możliwe wiele filtrów naraz",
                "operationId": "findAutosByTag",
                "parameters": [{
                        "name": "cena",
                        "in": "query",
                        "description": "pozwala wybrać zakres ceny:                              </br>\"xxx-\" oznacza cenę od</br>\"xxx-yyy\" oznacza zakres ceny</br>\"-yyy\" oznacza cenę do.<br><b>Myślik jest obowiązkowy.</b>",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "marka",
                        "in": "query",
                        "description": "nazwa marki",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "model",
                        "in": "query",
                        "description": "nazwa modelu",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "rocznik",
                        "in": "query",
                        "description": "pozwala wybrać zakres rocznika:                                 </br>\"xxx-\" oznacza rocznik od</br>\"xxx-yyy\" oznacza zakres roczników</br>\"-yyy\" oznacza rocznik do.<br><b>Myślik jest obowiązkowy.</b>",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "nieoto",
                        "in": "query",
                        "description": "pobrane z OTOMOTO",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "description": "Invalid status value"
                    }
                },
                "security": [{
                    "petstore_auth": [
                        "write:autos",
                        "read:autos"
                    ]
                }]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "petstore_auth": {
                "type": "oauth2",
                "flows": {
                    "implicit": {
                        "authorizationUrl": "https://wsinf.potkal.pl/api/oauth/dialog",
                        "scopes": {
                            "write:autos": "Umożliwia zmianę w bazie ofert",
                            "read:autos": "Umożliwia odczyt ofert"
                        }
                    }
                }
            },
            "api_key": {
                "type": "apiKey",
                "name": "api_key",
                "in": "header"
            }
        }
    }
}